<html>
<head>
  <meta charset="utf-8"/>
  <title>{% block title %} {% endblock %}</title>
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  {% block external_css %}
  {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/">
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    THPT Tam Nông
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{homepage}}">
        <a class="nav-link" href="/">Trang chủ </a>
      </li>
      {% block navbar_left %}{% endblock %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% block navbar_right %}{% endblock %}
    </ul>
  </div>
</nav>

{% block body %}
{% endblock %}
</body>
</html>
