{% extends 'base.html' %}

{% block navbar_left %}

{% if loptruong_privilege %}
<li class="nav-item {{loptruong_active}}">
  <a class="nav-link" href="/hoctap/">Học tập</a>
</li>
{% endif %}

{% if saodo_privilege %}
<li class="nav-item {{saodo_active}}">
  <a class="nav-link" href="/saodo/">Sao đỏ</a>
</li>
{% endif %}

{% endblock %}

{% block navbar_right %}
<li class="nav-item">
  <a class="btn btn-info" href="/account/detail">
    Tài khoản
  </a>
</li>
<li class="nav-item">
    <form style="margin: 0px; " method="post" action="/account/logout/">{% csrf_token %}
    <button type="submit" class="btn btn-primary">Đăng xuất</button>
  </form>
</li>
{% endblock %}
