{% extends 'account/detail_normal.html' %}

{% block body %}
    {{ block.super }}

<div class="container">
<div class="detail-form">
<div class="main-div">
  <div class="panel">
    <p>Thêm tài khoản</p>
  </div>


  <form action="/account/add-account/" method="post"> {% csrf_token %}
    <div class="form-group radio">
      <label><input type="radio" name="privilege-name" value="saodo" checked>Sao đỏ</label>
    </div>
    <div class="form-group radio">
      <label><input type="radio" name="privilege-name" value="loptruong">Lớp trưởng</label>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" 
        name="username" placeholder="Tên tài khoản">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" 
        name="password" placeholder="Mật khẩu">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" 
        name="re-enter-password" placeholder="Nhập lại mật khẩu">
    </div>

    <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
  </form>
</div></div></div>

<div class="container">
<div class="detail-form">
<div class="main-div">
  <div class="panel">
    <p>Xóa tài khoản</p>
  </div>

  <form action="/account/remove-account/" method="post"> {% csrf_token %}
    <div class="checkbox">
      <label><input type="checkbox" value="taikhoan1">Option 1</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="taikhoan2">Option 2</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="taikhoan3">Option 3</label>
    </div>
    <button type="submit" class="btn btn-primary">Xóa</button>
  </form>
</div></div></div>
{% endblock %}
